In [8]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('data.db')

# Query the table and load it into a DataFrame
query = "SELECT * FROM chat_history;"
df = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the DataFrame
df

,id,user_id,timestamp,is_from_user,is_audio,message,audio_blob
0,1,6197488789,2023-10-28T07:12:32.146303,1,0,h,null
1,2,6197488789,2023-10-28T07:12:33.245959,1,0,h,null
2,3,6197488789,2023-10-28T07:12:33.810060,1,0,h,null
3,4,6197488789,2023-10-28T07:12:35.888869,1,0,h,null
4,5,6197488789,2023-10-28T07:12:37.079786,1,0,h,null
5,6,6197488789,2023-10-28T07:12:38.439654,1,0,h,null
6,7,6197488789,2023-10-28T07:12:39.587005,1,0,h,null
7,8,6197488789,2023-10-28T07:12:40.823808,1,0,h,null
8,9,6197488789,2023-10-28T07:12:41.946642,1,0,h,null
9,10,6197488789,2023-10-28T07:12:43.151057,1,0,h,null
10,11,6197488789,2023-10-28T07:34:49.287772+00:00,1,1,None,b'OggS\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00...
11,12,6197488789,2023-10-28T07:34:56.207932+00:00,1,1,None,b'OggS\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00...
12,13,6197488789,2023-10-28T07:35:07.820224+00:00,1,0,d,None
13,14,6197488789,2023-10-28T07:35:08.701271+00:00,1,0,a,None
14,15,6197488789,2023-10-28T07:35:09.345032+00:00,1,0,a,None
15,16,6197488789,2023-10-28T07:35:09.837775+00:00,1,0,a,None
16,17,6197488789,2023-10-28T07:35:10.352479+00:00,1,0,a,None
17,18,6197488789,2023-10-28T07:35:41.441484+00:00,1,0,a,None
18,19,6197488789,2023-10-28T07:35:43.698300+00:00,1,0,c,None
19,20,6197488789,2023-10-28T07:35:45.942779+00:00,1,0,s,None
20,21,6197488789,2023-10-28T07:35:47.782806+00:00,1,0,s,None
21,22,6197488789,2023-10-28T07:35:49.489679+00:00,1,0,s,None
22,23,6197488789,2023-10-28T07:35:50.858567+00:00,1,0,s,None
23,24,6197488789,2023-10-28T07:35:52.282680+00:00,1,0,s,None
24,25,6197488789,2023-10-28T07:35:53.735463+00:00,1,0,s,None
25,26,6197488789,2023-10-28T07:36:23.201142+00:00,1,1,None,b'OggS\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00...
26,27,6197488789,2023-10-28T07:36:32.388677+00:00,1,1,None,b'OggS\x00\x02\x00\x00\x00\x00\x00\x00\x00\x00...
27,28,6197488789,2023-10-28T07:36:38.690369+00:00,1,0,d,None
28,29,6197488789,2023-10-28T07:36:40.477200+00:00,1,0,a,None
29,30,6197488789,2023-10-28T07:38:07.271235+00:00,1,0,d,None